@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Airport>
@{
	Layout = null;
}

<style>
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>

<div class="box">
<h1>@Model.AirportName</h1>


<img src="@Model.AirportImage.GetCropUrl("small") " />
</div>